[Unit]
Description=Local LLM Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/always_on/llm_server
Environment=PYTHONPATH=/opt/always_on
ExecStart=/opt/always_on/venv/bin/python server.py

StandardOutput=append:/opt/always_on/llm_server/logs/server.log
StandardError=append:/opt/always_on/llm_server/logs/server.error.log

[Install]
WantedBy=multi-user.target
